@model IEnumerable<HotelMNG.Models.BlogPost>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-6">
            <div class="blog-item set-bg" data-setbg="@item.Image" style="background-image: url('@item.Image');">
                <div class="bi-text">
                    <span class="b-tag">@item.Category</span>
                    <h4><a href="@Url.Action("BlogDetail", "Blog", new { alias = item.Alias })">@item.Title</a></h4>
                    <div class="b-time"><i class="icon_clock_alt"></i> @item.CreatedAt</div>
                    <p class="white-text">@item.Content</p>
                </div>
            </div>
        </div>
    }
</div>
